{% extends "layout.html" %}
{% block title %}Hashtags{% endblock %}
{% block content %}
    <h1>Hashtags</h1>
	<ul>
		<a href="{{ url_for('site.hashtag_add_page') }}">Add Hashtag</a>
		<a href="{{ url_for('site.hashtag_update_page') }}">Update Hashtag</a>
		<a href="{{ url_for('site.hashtag_delete_page') }}">Delete Hashtag</a>
	</ul>
	{% if hashtags %}
    <ul>
    	{% for hashtag_id, hashtag in hashtags %}
        <li>
        <a href="{{ url_for('site.hashtag_page', hashtag_id = hashtag_id) }}">
          {{ hashtag.name }}
         </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
	<ul>
      <li>#Yasarken yazılan tarih</li>
      <li>#29 Ekim</li>
      <li>#Pero Antic</li>
      <li>#Elveda Berlin</li>
      <li>#ATATURK Gibi Dusun</li>
    </ul>
{% endblock %}