{% extends "layout.html" %}
{% block title %}Hashtag{% endblock %}
{% block content %}
    <h1>{{ hashtag.name }}</h1>
    <ul>
		<a href="{{ url_for('hashtagContents.hashtagContent_add_page', hashtag_id = hashtagid ) }}">Add Content</a>
		<a href="{{ url_for('hashtagContents.hashtagContent_update_page', hashtag_id = hashtagid) }}">Update Content</a>
		<a href="{{ url_for('hashtagContents.hashtagContent_delete_page', hashtag_id = hashtagid) }}">Delete Content</a>
	</ul>
	{% if hashtagContents %}
    <ul>
    	{% for hashtagContent_id, hashtagContent in hashtagContents %}
        <li>
         <a>
          {{ hashtagContent_id}}
         </a>
        <a>
          {{ hashtagContent.hashtagid}}
         </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}