{% extends "layout.html" %}
{% block title %}Moderators{% endblock %}
{% block content %}
{% if current_user.nickname == 'admin' %}
    <h1>Moderators (id, nickname)</h1>

    {% if moderators %}
    <ul>
    	{% for mod_id, moderator in moderators %}
        <li>
          {{ mod_id }}
          {{ moderator.nickname }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <ul>
    	<li><a href="{{ url_for('mods.mod_add_page') }}">Add Moderator</a></li>
    	<li><a href="{{ url_for('mods.mod_remove_page') }}">Delete Moderator</a></li>
    	<li><a href="{{ url_for('mods.mod_update_page') }}">Update Moderator</a></li>
    </ul>
{% endif %}
{% endblock %}