{% extends "layout.html" %}
{% block title %}Moderators{% endblock %}
{% block content %}
    <h1>Moderators</h1>

    {% if moderators %}
    <ul>
    	{% for mod_id, moderator in moderators %}
        <li>
        <a href="{{ url_for('site.moderator_page', mod_id=mod_id) }}">
          {{ moderator.nickname }}
          {{ moderator.password }}
         </a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    <ul>
    	<li><a href="{{ url_for('site.mod_add_page') }}">Add Moderator</a></li>
    	<li><a href="{{ url_for('site.mod_remove_page') }}">Delete Moderator</a></li>
    	<li><a href="{{ url_for('site.mod_update_page') }}">Update Moderator</a></li>
    	<li>Nick Valensi</i>
    	<li>Albert Hammond Jr.</li>
    	<li>Nikolai Fraiture</li>
    	<li>Fabrizio Moretti</li>

    </ul>

{% endblock %}