{% extends "layout.html" %}
{% block title %}Moderators and ImagePosts{% endblock %}
{% block content %}
    <h1>Moderators</h1>

    {% if moderators %}
    <ul>
    	{% for mod_id, moderator in moderators %}
        <li>
          {{ mod_id }}
          {{ moderator.nickname }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
	{% if current_user.is_authenticated %}
    <ul>
    	<li><a href="{{ url_for('mods.mod_add_page') }}">Add Moderator</a></li>
    	<li><a href="{{ url_for('mods.mod_remove_page') }}">Delete Moderator</a></li>
    	<li><a href="{{ url_for('mods.mod_update_page') }}">Update Moderator</a></li>
    </ul>
    {% endif %}
    <h2>Image Posts</h2>
    {% if imgposts %}
    <ul>
    	{% for imgPost_id, imgpost in imgposts %}
        <li>
          {{ imgPost_id }}
          {{ imgpost.imgname }}
          {{ imgpost.modid }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    <ul>
		<li><a href="{{ url_for('imgPosts.imgpost_add_page') }}">Add Image Post</a></li>
		<li><a href="{{ url_for('imgPosts.imgpost_remove_page') }}">Remove Image Post</a></li>
		<li><a href="{{ url_for('imgPosts.imgpost_update_page') }}">Update Image Post</a></li>
    </ul>

{% endblock %}