<!DOCTYPE html>
<html lang="en">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
<meta charset="utf-8" />
<body>
<div class="container">
	<div class="row" style = "margin-top:100px;">
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-hidden"></div>
		<div class="col-lg-6 col-md-6 col-sm-8 col-xs-12">
			<legend>
				<i class="glyphicon glyphicon-globe"></i></a> Sign up ShakeSpace!
			</legend>
			<form action="#" method="post" class="form" role="form">
				<input class="form-control" name="yourusername" placeholder="Username" type="username" />
				<input class="form-control" name="youremail" placeholder="Email" type="email" />
				<input class="form-control" name="password" placeholder="Password" type="password" /> 
				
				</label> <br /> <br />
				<button class="btn btn-lg btn-primary btn-block" type="submit">
					Sign up</button>
			</form>
		</div>
		<div class="col-lg-3 col-md-3 col-sm-2 col-xs-hidden"></div>
	</div>
</div>

</body>