{% extends "layout.html" %}
{% block title %}Places{% endblock %}
{% block content %}
	<h1>Places</h1>
	{% if places %}
    	<ul>
    	{% for place_id, place in places %}
        <li>
          {{ place.area }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    
    <h4>Update a place</h4>
    <form role="form" action="" method="post" name="updateplace"
            class="form-horizontal">

        <div class="form-group">
          <label for="title" class="control-label col-sm-2">Place Name:</label>
          <div class="col-sm-10">
            <input type="text" name="area" required autofocus />
          </div>
        </div>

        <div class="form-group">
          <label for="title" class="control-label col-sm-2">Updated Place Name:</label>
          <div class="col-sm-10">
            <input type="text" name="new_area" required autofocus />
          </div>
        </div>
        
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" name="update"
                    class="btn btn-success">Update</button>
          </div>
        </div>
      </form>
    
{% endblock %}